@import "normalize";

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Viewport
// ========================================================================== */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* Breakpoints
// ========================================================================== */


/* Typography 
// ========================================================================== */


$browser-default-font-size:16px;
$layout-size:16px;

$font-stack-default:'Avenir',sans-serif; 
$font-stack-proxima-cond: 'proxima-nova-condensed', sans-serif;
$font-stack-proxima: 'proxima-nova', 'Futura', Arial, sans-serif;


/* Colors 
// ========================================================================== */
//$color-text:#4a4a4a;
$color-black:#262626;
$color-white: #fff;
$color-yellow: #F6BC25;
$color-orange: #DF542A;
$color-purple: #9A6BB8;

/* Convert px to ems
// ========================================================================== */
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
  @return #{$pixels/$context}em;
}

@function return-ems( $pixels, $context ) {
  @return #{$pixels/$context}em;
}
@function layout-ems( $pixels, $context: $layout-size ) {
  @return #{$pixels/$context}em;
}


/* Mixins
// ========================================================================== */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin delist {
	list-style-type: none;
	margin:0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}
@mixin center {
	margin-left: auto;
	margin-right: auto;
}
@mixin image-2x($image) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
  }
}
@mixin valign() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}