@import 'base';

body {
    background-color: $color-black;
    background-image: url(../_img/hero-background.png);
    background-repeat: no-repeat;
    background-position: center top;
    color: #9B9B9B;
    font-size: 100%;
    font-family: $font-stack-proxima;
    overflow-x: hidden;
    
    @media (min-width:layout-ems(1441px)) {
        background-size: 100%;
    }
}

.visually-hidden {
    display: none;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    100% {
        opacity:1;
    }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

#line {
    background-color: $color-purple;
    bottom:calc(25vh + 299px);
    position: absolute;
    left:50%;
    transition: background .25s ease-in;
    top:px-to-ems(-120px);
    width:1px;
    z-index:1;
    animation:1s both fadeIn;
    animation-delay: 2s;
    
    @media (min-width:layout-ems(900px)) {
        z-index:2;
    }
    
    @media (min-width:layout-ems(1012px)) {
        bottom:calc(25vh + 289px);
    }
}

a {
    color:currentColor;
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    max-width:100%;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;

    iframe,
    object,
    embed {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}

.profile-heading {
    color:white;
    font-family: $font-stack-proxima-cond;
    font-size: px-to-ems(44px);
    font-weight: 400;
    letter-spacing: 1.76px;
    line-height: return-ems(53px,44px);
    text-transform: uppercase;
}

.profile-position,
.profile-location {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.profile-position {
    color: $color-orange;
    font-size: px-to-ems(15px);
    line-height: return-ems(20px,15px);
}

.profile-location {
    color: $color-yellow;
    font-size: px-to-ems(13px);
    line-height: return-ems(20px,13px);
}

.profile-blockquote {
   font-weight: 300; 
}

#hero {
    height: 100vh;
    padding-top:30px;
    position: relative;
}

.logo {
    display: block;

    svg {
        display: block;
        height: px-to-ems(30px);
        margin:0 auto px-to-ems(60px);
        width: px-to-ems(129px);
    }
    
    header & {
        animation:1s both zoomIn;
    }
    
    @media (min-width:layout-ems(700px)) {
        header & {
            animation:1s both bounceInLeft;
            float:left;
            margin-left: px-to-ems(30px);
            margin-bottom: 0;
        }
    }
}

.conference-cta {
    
    border:4px solid $color-yellow;
    color:$color-yellow;
    display: block;
    font-size: px-to-ems(12px);
    font-weight: 700;
    height: return-ems(66px,12px);
    letter-spacing: 2px;
    line-height: return-ems(58px,12px);
    margin: 0 auto;
    max-width:return-ems(310px,12px);
    text-align: center;
    text-transform: uppercase;
    transition: .25s ease-in;
    width:100%;
    
    header & {
        animation:1s both zoomIn;
        animation-delay: .5s;
    }
    
    &:hover {
        background-color: $color-yellow;
        color:$color-black;
    }
    
    @media (min-width:layout-ems(700px)) {
        header & {
            animation:1s both bounceInRight;
            float: right;
            margin-right:return-ems(30px,12px);
        }
    }
}

.hero-logo {
    animation:1s both zoomIn;
    animation-delay: 1s;
    display: block;
    height:39.78vw;
    left:px-to-ems(30px);
    position: absolute;
    top:50%;
    margin-top: -19.891vw;
    transform-origin: center center;
    width: calc(100% - 60px);
    
    @media (min-width:layout-ems(814px)) {
        height: px-to-ems(300px);
        left:50%;
        margin-left:px-to-ems(-377px);
        margin-top:px-to-ems(-150px);
        width: px-to-ems(754px);
    }
}

.scroll {
    background: url(../_img/scroll@2x.png) no-repeat center top;
    background-size: 23px 40px;
    bottom:px-to-ems(120px);
    display: block;
    height: px-to-ems(40px);
    position: absolute;
    left:50%;
    margin-left: px-to-ems(-11px);
    width:px-to-ems(23px);
    
    animation:1s both zoomIn;
    animation-delay: 1.5s;
}

.profile-image {
    position: fixed;
    top:0;
    left:50%;
    opacity:0;
    transition:opacity .5s ease-in;
    transform: translateX(-50%);
    z-index:-1;
    
    .show & {
        opacity:1;
        z-index:2;
    }
    
    @media (min-width:layout-ems(900px)) {
        left:auto;
        transform: translate(0,0);
        top:px-to-ems(120px);
        width:calc(50% + 20px);
        
        .show & {
            z-index:1;
        }
    }
    
    @media (min-width:layout-ems(1440px)) {
        width:px-to-ems(740px);
    }
}

.profile-content {
    padding:25vh px-to-ems(20px);
    position: relative;
    z-index:2;
    
    &::after {
        background-color: $color-black;
        content: '';
        position: absolute;
        top:calc(25vh - 20px);
        bottom:calc(25vh - 20px);
        left:px-to-ems(20px);
        right:px-to-ems(20px);
        z-index:-1;
    }
    
    @media (min-width:layout-ems(900px)) {
        &::after {
            display:none;
        }
    }
}

.profile-header {
    
    @media (min-width:layout-ems(900px)) {
        background-color: transparent;
        position: relative;
        
        &::after {
            bottom:px-to-ems(-10px);
            content: '';
            background-color:$color-orange;
            height: px-to-ems(1px);
            position: absolute;
            left:0;
            width:calc(100% + 40px);
        }
    }
}

.leadership-profiles {
    position: relative;
}

.profile {
    position: relative;
    padding-top:75vh;
    
    @media (min-width:layout-ems(900px)) {
        
        &:nth-child(2n+1) {
        
            .profile-image {
                left:0;
            }
            
            .profile-content {
                margin-left:50%;
                padding-left: px-to-ems(40px);
            }
            
            .profile-header {
                
                &:after {
                    background-color:$color-purple;
                    left:px-to-ems(-40px);
                }
            }
        }
        
        &:nth-child(2n+2) {
        
            .profile-image {
                right:0;
            }
            
            .profile-content {
                margin-right:50%;
                padding-right:px-to-ems(40px);
            }
        }
    }
    
    @media (min-width:layout-ems(1140px)) {
        &:nth-child(2n+1) {
            
            .profile-content {
                padding-right:0;
                margin-right:calc(50% - 570px);
            }
        }
        
        &:nth-child(2n+2) {
            
            .profile-content {
                padding-left:0;
                margin-left:calc(50% - 570px);
            }
        }
    }
    
    @media (min-width:layout-ems(1440px)) {
        
        &:nth-child(2n+1) {
            .profile-image {
                left:50%;
                margin-left:px-to-ems(-720px);
            }
        }
        
        &:nth-child(2n+2) {
            .profile-image {
                right:50%;
                margin-right:px-to-ems(-720px);
            }
        }
    }
}
.profile-audio {
    background-color: #2c2c2c;
    height: px-to-ems(70px);
    margin-top: px-to-ems(36px);
    padding:px-to-ems(15px);
    position: relative;
    
    .play {
        background: url(../_img/play.png) no-repeat;
        background-size: 40px 40px;
        border:0;
        display: block;
        float: left;
        height: px-to-ems(40px);
        outline: none;
        padding: 0;
        text-indent: -999em;
        width: px-to-ems(40px);
        
        &.playing {
            background: url(../_img/pause.png) no-repeat;
            background-size: 40px 40px;
        }
    }
    .wave-container {
        float: left;
        margin-left: px-to-ems(8px);
        width: calc(100% - 90px);
    }
    .duration {
        color: white;
        float: left;
        font-size: px-to-ems(13px);
        line-height: return-ems(40px,13px);
        margin-left: return-ems(8px,13px);
        width:return-ems(34px,13px);
    }
}

.profile-blockquote {
    font-size: px-to-ems(20px);
    font-weight: 300;
    line-height: return-ems(25px,20px);
    margin:return-ems(45px,20px) 0 0;
    padding:0 0 0 return-ems(46px,20px);
    position: relative;
    
    &::before {
        content: '\201c';
        color: $color-orange;
        font-family: 'Baskerville', serif;
        font-size: px-to-ems(48px);
        font-weight: 700;
        line-height: 1;
        position: absolute;
        left:0;
        top:px-to-ems(-2px);
    }
    
    cite {
        display: block;
        margin-top: return-ems(12px,20px);
        overflow: hidden;
        text-indent:-999em;
        
        #damian-jones & {
            background: url(../_img/damian-signature@1x.png) no-repeat;
            @include image-2x('../_img/damian-signature@2x.png');
            background-size:100%;
            height: return-ems(40px,20px);
            width:100%;
            max-width:return-ems(332px,20px);
        }
        
        #maura-farrell & {
            background: url(../_img/maura-signature@1x.png) no-repeat;
            @include image-2x('../_img/maura-signature@2x.png');
            background-size:100%;
            height: return-ems(38px,20px);
            width:100%;
            max-width:return-ems(231px,20px);
        }
        
        #jake-thurman & {
            background: url(../_img/jake-signature@1x.png) no-repeat;
            @include image-2x('../_img/jake-signature@2x.png');
            background-size:100%;
            height: return-ems(59px,20px);
            width:100%;
            max-width:return-ems(260px,20px);
        }
        
        #matt-lai & {
            background: url(../_img/matt-signature@1x.png) no-repeat;
            @include image-2x('../_img/matt-signature@2x.png');
            background-size:100%;
            height: return-ems(52px,20px);
            width: 100%;
            max-width:return-ems(161px,20px);
        }
        
        #crissy-caceres & {
            background: url(../_img/crissy-signature@1x.png) no-repeat;
            @include image-2x('../_img/crissy-signature@2x.png');
            background-size:100%;
            height: return-ems(84px,20px);
            width:100%;
            max-width:return-ems(161px,20px);
        }
        
        #jessica-rosenbaum & {
            background: url(../_img/jessica-signature@1x.png) no-repeat;
            @include image-2x('../_img/jessica-signature@2x.png');
            background-size:100%;
            height: return-ems(93px,20px);
            width:100%;
            max-width:return-ems(187px,20px);
        }
        
        #susanna-jones & {
            background: url(../_img/susanna-signature@1x.png) no-repeat;
            @include image-2x('../_img/susanna-signature@2x.png');
            background-size:100%;
            height: return-ems(57px,20px);
            width:100%;
            max-width:return-ems(239px,20px);
        }
        
        #vivian-english & {
            background: url(../_img/vivian-signature@1x.png) no-repeat;
            @include image-2x('../_img/vivian-signature@2x.png');
            background-size:100%;
            height: return-ems(37px,20px);
            width:100%;
            max-width:return-ems(254px,20px);
        }
    }
}

footer {
    background:url(../_img/footer-background.png) no-repeat center bottom;
    display: flex;
    flex-direction:column;
    padding:25vh 0 px-to-ems(30px);
    min-height: px-to-ems(1024px);
    @media (min-width:layout-ems(1441px)) {
        background-size: 100%;
    }
    
    @media (min-width:layout-ems(900px)) {
        padding-top:35vh;
    }
    
    @media (min-width:layout-ems(1186px)) {
        padding-left:calc(50% - 573px);
        padding-right:calc(50% - 573px);
    }
    
    .wrapper {
        margin-top:auto;
    }
    
    h2 {
        font-family: $font-stack-proxima-cond;
        font-size:px-to-ems(26px);
        line-height: return-ems(32px,26px);
        margin: 0 return-ems(20px,26px) return-ems(32px,26px);
        text-transform: uppercase;
        
        @media (min-width:layout-ems(1186px)) {
            margin-left:0;
            margin-right:0;
        }
    }
    
    .video {
        margin:0 px-to-ems(20px) px-to-ems(76px);
        
        @media (min-width:layout-ems(900px)) {
            margin-bottom:px-to-ems(146px);
        }
        
        @media (min-width:layout-ems(1186px)) {
            margin-left:0;
            margin-right:0;
        }
    }
    
    .conference-cta {
        margin-bottom: return-ems(76px,12px);
        
    }
    
    .logo {
        margin-bottom: 0;
    }
}

.video-gallery {
    margin:0 20px;

    @media (min-width: layout-ems(600px)) {
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;

        &::after {
            content: '';
            display: block;
            margin-left: calc(50% - 24px);
        }
    }

    @media (min-width: layout-ems(900px)) {
        &::after {
            margin-left: calc(33.333% - 24px);
        }
    }

    @media (min-width:layout-ems(1186px)) {
        margin-left:0;
        margin-right:0;
    }


    & > div {
        margin-bottom: px-to-ems(48px);

        @media (min-width: layout-ems(600px)) {
            width: calc(50% - 24px);
        }

        @media (min-width: layout-ems(900px)) {
            width:calc(33.333% - 24px);
        }
    }

    img {
        max-width: 100%;
    }
    figure {
        margin:0 0 px-to-ems(12px);
        padding:0;

        a {
            display: block;
            position: relative;

            &::after {
                background: url(../_img/play-video.png) no-repeat;
                background-size:64px 64px;
                content: '';
                height: px-to-ems(64px);
                position: absolute;
                left:50%;
                margin-left: px-to-ems(-32px);
                top:50%;
                margin-top:px-to-ems(-32px);
                width:px-to-ems(64px);
            }
        }
    }
    h3 {
        color: $color-yellow;
        font-size: px-to-ems(24px);
        font-weight: 700;
        line-height: 1.25;
    }
}

#video-modal {
    background-color:rgba(0,0,0,.85);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:3;

    .video-container {
        position: absolute;
        top:10%;
        left:50%;
        transform:translate(-50%, 0);
        max-width:px-to-ems(1200px);
        width:90%;
    }

    .video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .video iframe,
    .video object,
    .video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.close-btn {
    border:2px solid $color-white;
    border-radius:50%;
    cursor: pointer;
    height:px-to-ems(50px);
    overflow: hidden;
    opacity: .5;
    position: absolute;
    z-index: 500;
    top:px-to-ems(-70px);
    right: 0;
    text-indent: -999em;
    width:px-to-ems(50px);
    span {
        background: $color-white;
        border-radius:px-to-ems(10px);
        display: block;
        height: px-to-ems(30px);
        left:50%;
        margin-left:px-to-ems(-2px);
        position: absolute;
        top:50%;
        margin-top:px-to-ems(-15px);
        width:px-to-ems(5px);
    }
    span:nth-child(1) {
         -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    span:nth-child(2) {
         -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}